<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
    $(".ajaxForm").submit(function(e){
        e.preventDefault();
        var href = $(this).attr("action");
        $.ajax({
            type: "POST",
            dataType: "json",
            url: href,
            data: $(this).serialize(),
            success: function(response){
                if(response.status == "success"){
                    alert('Obrigado por enviar sua mensagem.');
                    window.location.href = 'https://{{ site.baseurl }}/#contact';
                }else{
                    alert("An error occured: " + response.message);
                }
            }
        });
    });
    });
</script>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Confirme Já Sua Presença Aqui</h2>
                <h3 class="section-subheading text-white">Ou nos mande um email <a href="mailto:talitaejoaopeters@gmail.com">talitaejoaopeters@gmail.com</a>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Create your own form using FormCarry: https://formcarry.com/ -->
                <form class="ajaxForm" action="https://formcarry.com/s/ak_gC3UXGKA" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Insira o nome de todos os convidados para confirmação de presença" id="name" name="name" required data-validation-required-message="Seu nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Email de contato" id="email" name="email" required data-validation-required-message="Seu email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Escreva aqui uma mensagem para o casal" id="message" name="message" required data-validation-required-message="Mande sua mensagem."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Confirmar Presença</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>