<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Presentes</title>
</head>
<body>
    <section id="list">
        <div class="container text-center">
            <h2 class="section-heading">Lista de Presentes</h2>
            <h3 class="section-subheading text-muted">
                Clique abaixo para ver nossa lista de presentes e opções de presentes em diferentes sites.
            </h3>
            <a href="/talitaejoao/gl" class="btn-m">Ver Lista de Presentes</a>
        </div>
    </section>
</body>
</html>