/* Importando a fonte da página, ajuste conforme necessário */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Tema do contador */
.flipdown {
  font-family: 'Roboto', sans-serif; /* Usando a fonte da página */
  font-weight: bold;
  width: 100%; /* Agora ocupa toda a largura da página */
  margin: 0; /* Remove margens */
  overflow: visible;
  height: 120px;
}

.flipdown .rotor-group {
  position: relative;
  float: left;
  padding-right: 2%; /* Ajuste proporcional para espaçamento */
}

.flipdown .rotor-group:last-child {
  padding-right: 0;
}

.flipdown .rotor-group-heading:before {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.flipdown .rotor {
  position: relative;
  float: left;
  width: 12%; /* Proporção para que os dígitos sejam distribuídos uniformemente */
  height: 90px;
  margin: 0px 1%; /* Espaçamento proporcional */
  border-radius: 4px;
  font-size: 4rem;
  text-align: center;
  perspective: 200px;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
  overflow: hidden;
  position: absolute;
  width: 100%; /* Acompanha o tamanho da largura do rotor */
  height: 45px;
}

.flipdown .rotor-leaf {
  z-index: 1;
  position: absolute;
  width: 100%; /* Acompanha o tamanho da largura do rotor */
  height: 90px;
  transform-style: preserve-3d;
  transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
  transform: rotateX(-180deg);
  transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
  overflow: hidden;
  position: absolute;
  width: 100%; /* Acompanha o tamanho da largura do rotor */
  height: 45px;
  margin: 0;
  transform: rotateX(0deg);
  backface-visibility: hidden;
}

.flipdown .rotor-leaf-front {
  line-height: 90px;
  border-radius: 4px 4px 0 0;
}

.flipdown .rotor-leaf-rear {
  line-height: 0;
  border-radius: 0 0 4px 4px;
  transform: rotateX(-180deg);
}

.flipdown .rotor-top {
  line-height: 90px;
  border-radius: 4px 4px 0 0;
}

.flipdown .rotor-bottom {
  bottom: 0;
  line-height: 0;
  border-radius: 0 0 4px 4px;
}

.flipdown .rotor:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%; /* Acompanha o tamanho da largura do rotor */
  height: 45px;
  border-radius: 0 0 4px 4px;
}

/* Estilo para o título */
.countdown-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}

/* Estilo para a seção */
.countdown-section {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Ajustes de mídia para telas menores */
@media (max-width: 550px) {
  .flipdown {
    height: 80px;
  }

  .flipdown .rotor {
    font-size: 2.2rem;
  }

  .flipdown .rotor-group {
    padding-right: 10px;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
  }
}
